<link rel="stylesheet" type="text/css"
	href="../bower_components/bootstrap/dist/css/bootstrap.css" />

<div ng-init="ctrl.refresh()">

	<div class="row">
		<div class="col-md-6">
			<div class="container">
				<p class="alert-warning">{{ctrl.message}}</p>
			</div>

			<hr />


			<div class="container">

				<p>Delete URL : http://localhost:3000/employees/{{ctrl.selectedEmp.id}}</p>
				<p>Delete payload : None</p>

			</div>

			<hr />
		</div>


		<div class="col-md-6">
			<div class="container">

				<h1>Formatted Data</h1>

				<table
					class="table-condensed table-striped table-hover table-bordered">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Salary</th>
					</tr>

					<tr ng-repeat="emp in ctrl.emps" ng-mouseover="ctrl.selectedEmp = emp">
						<td>{{emp.id}}</td>
						<td>{{emp.name}}</td>
						<td>{{emp.salary}}</td>
						<td><button ng-click="ctrl.delEmp()" class="btn btn-primary">DEL</button></td>
					</tr>

				</table>
			</div>
		</div>
	</div>




</div>
